.team-heading {
 background-color: blue;

}

h1 {
   color: white; 
   font-size: 70px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-header {
    color: white; 
    background-color: blue;
 }

 